/*Memory Game by Mila K-L */
/*May 2018*/

/*
 * General styles
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/99537-OLIFGW-509.jpg');
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #2e3d49;
  text-shadow: -3px 0 #ffe121, 0 3px #ffe121, 3px 0 #ffe121, 0 -3px #ffe121;
  font-family: 'Sigmar One', cursive;
  font-size: 46px;
  margin-top: 1.5em;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 1.5em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  text-decoration: none;
  color: #2e3d49;
}

a:hover {
  color: #ffe121 !important;
  text-decoration: none;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, rgba(79, 183, 131, 0.7) 0%, rgba(81, 173, 207, 0.7) 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.deck .cardImage {
  height: 100px;
  width: auto;
  opacity: 0;
}

.deck .card.open {
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  background: #51adcf;
  cursor: default;
}

.matchedZoom {
  animation: zoom-in-out 500ms linear 0s alternate 1;
}

@keyframes zoom-in-out {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: scale(1.2);
  }
}

/*
 * Animation when cards do not match is not completed yet, hence I'm leaving it commented and will work on this later on.
 */

/*
.unmachedShake {
  animation: nudge .4s linear;
}

@keyframes nudge {
  0% {
    transform: rotate(-7deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(-7deg);
  }
}


@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(7px, 0);
  }
  80% {
    transform: translate(-7px, 0);
  }
}
*/

.show .cardImage {
  transition: 0.6s;
  opacity: 1.0;
}

.deck .card.match {
  cursor: default;
  transform: rotateY(180deg);
  background: #4fb783;
  transition: transform .2s;

}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  width: 420px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0;
}

.finalRating {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 32px;
}

.finalRating .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/*
 * Styles for the game end Modal
 */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 45%;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: #aaa;
  float: right;
  font-weight: bold;

}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 20px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: linear-gradient(160deg, rgba(79, 183, 131, 0.7) 0%, rgba(81, 173, 207, 0.7) 100%);
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  width: 225px;
  height: 70px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

button:focus, button:hover {
  outline: none;
  background: linear-gradient(160deg, rgba(81, 173, 207, 0.7) 0%, rgba(79, 183, 131, 0.7) 100%);
  box-shadow: 10px 12px 14px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Styles for footer
 */

#footer {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    bottom: 0.5em;
    left: auto;
    padding: 2em 2em 1.5em 2em;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #footer .icon {
    margin: 0 0 2em 0;
    font-size: 1.3em;
  }
  #footer .copyright {
    margin: 0 0 2em 0;
  }
  #footer li {
    display: inline-block;
    line-height: 1.5em;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }
  #footer li:first-child {
    padding-left: 0;
  }
